<div id="show-friends">

<!-- search form for friends -->
<form method="GET" action="/ventures/new">
  <label for="email">Email</label>
  <input id="email-search" type="text" name="email" placeholder="Search by email">
  <button type="submit">Search</button>
</form>
  <% users.forEach(function (user){ %>
  <li><%= user.local.email %><button class="add-friend-btn" value="<%=user.id%>">+</button></li>
  <% }) %>
    </ul>
</div>
