<!-- page where you see your venture - pull in Foursquare/YELP-->

<!-- Sample Foursquare API call form/search below -->
<form method="GET" action="/search">
    <!-- <form method="GET" action="/venues"> -->
      <label for="place">Place Name</label>
      <input id="place" type="text" name="location" placeholder="Los Angeles, CA"/>
      <br>
      <label for="query">Search For</label>
      <input id = "query" type = "text" name = "keyword" placeholder="Vegan"/>
      <input type="submit" value="Search" />
    </form>
