/*Universal Styling(Rendered at all View Pages*/
.main {
  background-color: #6C67B8;
}

.logo-style{
  font-family: 'Slackey', cursive;
}

header, footer {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #52B5C8;
  color: white;
  opacity: 0.9;
  border-radius: 5px;
  text-shadow: 1px 1px #5DAF76;
  z-index: 5;
}

#main-header {
  font-family: 'Slackey', cursive;
  color: ghostwhite;
  border-radius: 5px;
  text-shadow: 1px 1px #5DAF76;
}

#main-header > div {
  float: right;
  padding: 10px;
}

.nav-link {
  display: none;
}

footer {
  bottom: 0px;
}

/*nav-bar display button styling*/
header > div, header > a {
  float: right;
  font-family: 'Cabin', sans-serif;
  font-size: 3em;
  padding: 0 10px;
  z-index: 10;
}

footer {
  margin: 0 auto;
  text-align: center;
  height: 40px;
}

#footer-logo{
  font-size: 30px;
  float: left;
  padding: 0 10px;
}

#footer-subtext {
  font-size: 15px;
  float: right;
  padding: 0 10px;
}

/*adding padding for header and footer*/
main > div {
  font-family: 'Cabin', sans-serif;
  padding: 60px 0;
}
