/*Universal Styling(Rendered at all View Pages*/

header, footer {
  position: fixed;
  width: 100%;
  height: 60px;
}

footer {
  bottom: 0px;
}

/*nav-bar display button styling*/
header > div {
  float: right;
  font-size: 40px;
  padding: 0 10px;
}

footer > div {
  width: 50%;
  margin: 0 auto;
  font-size: 45px;
  text-align: center;
}

/*adding padding for header and footer*/
main > div {
  padding: 60px 0;
}
