
#create-venture, #friend-list {
  min-height: 1200px;
  border: 1px solid red;
}

#drop-box > img {
  float: left;
  border-radius: 100px;
  max-height: 100px;
  max-width: 100px;
}

#show-friends {
  display: none;
  width: 300px;
  height: 800px;
  border: 1px solid black;
}

/*Carousel below*/

/*.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }*/

#outerCarousel {
  width: 500px;
}
