#create-venture, #friend-list, #show-categories {
  height: 750px;
  border: 1px solid red;
  border-radius: 10px;
}

#drop-box {
  border: 1px black solid;
  height: 80%;
}

#drop-box > img {
  float: left;
  border-radius: 100px;
  max-height: 100px;
  max-width: 100px;
}

.title-venture {
  text-align: center;
  color: white;
}

#create-venture {
  background-color: #ff7b00;
  padding: 0 30px;
}

#friend-list {
  background-color: #0a9ed8;
}

/*Will delete later for popular-friend sizes*/

.friend-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  font-size: 12px;
}

#show-friends {
  display: none;
  float: right;
  width: 300px;
  height: 600px;
  background-color: black;
  color: white;
}

#show-friends-btn {
  float: right;
}

#category-venture {
  /*display: none;*/
}

#show-categories {
  margin: 0 auto;
}

/*Styling for category boxes*/
#show-categories > div {
  margin-top: 10%;
}

.cat {
  height: 200px;
  border: 1px black solid;
}
.cat:hover {
  background: purple;
}

.selected {
  background-color: purple;
}

/*#outerCarousel {
  width: 500px;
}*/
