body {
  /*background-color: #6C67B8;*/
  color: #BA1414;
  background-size: cover;
}

#create-venture, #friend-list, #show-categories {
  height: 700px;
  box-shadow: 10px black;
  border-radius: 10px;
}

#drop-box {
  border: 1px black solid;
  height: 80%;
  background: #D6DE47;
}

#drop-box > img {
  float: left;
  border-radius: 100px;
  max-height: 100px;
  max-width: 100px;
}

.title-venture {
  text-align: center;
  color: white;
  text-shadow: 2px black;
}

#create-venture, .cat {
  background-color: #D6DE47;
  padding: 0 30px;
  opacity: 0.9;
  color: white;
  font-size: 20px;
  font-family: Futura;
}

#friend-list {
  background-color: #5DAF76;
}

#friend-list > div {
  float: left;
}

/*Will delete later for popular-friend sizes*/

.friend-circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: white;
  text-align: center;
  padding-top: 45px;
  margin-top: 20px;
  font-size: 15px;
  font-family: Futura;
}

#show-friends {
  display: none;
  float: right;
  width: 300px;
  height: 600px;
  background-color: white;
  color: black;
  padding: 15px;
}

#show-friends-btn {
  float: right;
}

.user-list {
  margin: 0 auto;
}

#category-venture {
  color: black;
  font-family: Futura;
  font-size: 40px;
  text-align: center;
}

#show-categories {
  margin: 0 auto;
  list-style: none;
}

/*Styling for category boxes*/
#show-categories > div {
  margin-top: 10%;
}

.cat {
  height: 200px;
  border: 1px black solid;
  border-radius: 5px;
  background: #6C67B8;
  opacity: 0.8;
}
.cat:hover {
  background: purple;
}

.selected {
  background-color: purple;
}
#venture-location {
  height: 38px;
  font-size: 20px;
  text-align: center;
}
#go-venture-btn {
  width: 235px;
}

