#show-venture {
  background-color: #52B5C8;
}

.carousel-inner {
  margin: 0 auto;
  padding: 15px;
  max-width: 700px;
  background-color: #6C67B8;
  border-radius: 10px;
}

.venue-image, iframe {
  float: left;
  width: 50%;
  height: 251px;
  border: none;
}

.carousel-caption {
  color: black;
}

.venue-name {
  font-size: 22px;
}

.venue-address {
  font-size: 18px;
}

.item {
  height: 550px;
}

.btn-container {
  margin: 0 auto;
}

.vote-btns {
  margin: 0 20px;
  font-size: 100px;
  text-align: center;
}

.vote-btns:hover {
  cursor: pointer;
  color: #6C67B8;
}

.vote-yes {
  color: green;
}

.vote-no {
  color: red;
}
.container {
  width: 700px;
  height: 300px;
  border: 1px solid red;
  background-color: white;
  border-radius: 15px;
  overflow-x: auto;
}
form {
  padding: 3px;
  position: absolute;
  top: 1220px;
  width: 710px;
  left: 287px;
}
form input {
  /*border: 0;*/
  padding: 10px;
  width: 704px;
  margin-right: .5%;
  border: 1px solid lightgreen;
  border-radius: 5px;
}
form button {
  width: 9%;
  background-color: #1de262;
  border: 2px solid lightgreen;
  display: none;
  padding: 10px;
}
#messages {
 list-style-type: none;
 margin: 0;
 padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
 background: #eee;
}
#show-ranking-btn {
  font-size: 30px;
  color: white;
  font-family: 'Slackey', cursive;
}

#show-ranking-btn:hover {
  cursor: pointer;
  color:  #D6DE47;
}

#show-ranking-btn, #rank {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
main {
  background-color: #52B5C8;
}
#rank {
  color: red;
  font-family: 'Slackey', cursive;
}

