<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome'}) %>

  <main>
  <div id="welcome-page">
    <div>
      <a href="/users/login">Login Locally</a>
      <a href="/auth/facebook">Login with Facebook</a>
    </div>
    <div>
      <a href="/users/signup">or.. Sign Up</a>
    </div>



  </div>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>


