<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome'}) %>

  <h1>FACEBOOK/GITHUB LOGIN USING PASSPORT</h1>

<!-- form for the welcome layout of Facebook -->
  <div>
    <% if(user != undefined){ %>
      <h2>Below is the data sent by facebook</h2>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/auth/facebook">Login with Facebook</a>
    <% } %>
  </div>

  <!-- Adding Yelp search below -->
  <h2>VentureUs sample search (via Yelp) </h2>
  <form method="POST" action="/search">
    <!-- <form method="GET" action="/venues"> -->
      <label for="term">Category</label>
      <input id="term" type="text" name="term" placeholder="Vegan">
      <br>
      <label for="location">Location</label>
      <input id = "location" type = "text" name = "location" placeholder="Los Angeles"/>
      <input type="submit" value="Search" />
    </form>

  <%- include('../partials/scripts') %>
</body>
</html>


