<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
  <%- include('../partials/headerM', {subHeading: 'Welcome'}) %>
<body>
<div class="container">

  <main>
    <h1 id="title">Venture Us</h1>
    <h2 class="subtitle">Join our movement to make more decisive actions</h2>

    <div class="center">

      <div class="inner-center">

        <div class="buttons">


            <a href="/users/login" id="login" class="btn btn-lg">Login Locally</a>


            <a href="/auth/facebook" id="fb" class="btn facebook btn-lg">Login with Facebook</a>


        </div>

      </div>

    </div>


  </main>
</div>

  <%- include('../partials/scripts') %>
</body>
</html>


