<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
  <%- include('../partials/header', {subHeading: 'User List'}) %>

  <main>
  <div id="login">

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div><%= message %></div>
    <% } %>
    <!-- LOGIN FORM -->
    <form action="/users/login" method="post">
        <div>
            <label>Email</label><br>
            <input type="text" name="email">
        </div>
        <div>
            <label>Password</label><br>
            <input type="password" name="password">
        </div><br>
        <input type="submit" class="btn btn-success btn-sm" value="Log In">
    </form>

    <hr>

    <p>Need an account? <a class="sign" href="/users/signup"><strong>Signup</strong></a></p>
    <p>Or go <a class="sign" href="/"><strong>home</strong></a>.</p>

  </div>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
