<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'User List'}) %>

  <main>

    <div>
      <% if(user) { %>
        <% user.local.email %>
        <% user._id %>
        <a href="/logout">Log Out</a>
        <a href="/">Back to home.</a>
      <% } %>
    </div>
    <ul id = "messages">Messages below!</ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
