<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'User List'}) %>

  <main>
  <div id="signup">


  </div>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
